h1{
    color: rebeccapurple;
}
li{
    color: tomato;
}
#bubt{
    color: blue;
    font-size: large;
}
.edu-name{
    color:purple;
}
.fruits-container li{
    color: lime;
}
/* .yellow{
    background-color: yellow;
} */
.large-text li{
    color: lime;
}